body {
	text-align: center;
	margin: 40px;
	background-color: #cccccc;
	font-family: Roboto, Montserrat, Lato, Helvetica, Trebuchet MS, Tahoma, Arial, Serif;
}
header img {
	max-width: 720px;
}
section {
	display: grid;
	margin: auto;
	margin-top: 60px;
	max-width: 1400px;
	text-align: center;
	padding: 40px;
	border-radius: 40px;
	box-shadow: 0px 0px 5px 0px #999999;
	background-color: #e6e6e6;
	grid-gap: 80px;
	align-items: last baseline;
	grid-template-rows: repeat( auto-fill, minmax(380px, auto) );
}
@media (min-width: 800px) { section {grid-template-columns: repeat( 2, minmax(250px, auto) );} }
@media (min-width: 1200px) { section {grid-template-columns: repeat( 3, minmax(250px, auto) );} }
@media (min-width: 1500px) { section {grid-template-columns: repeat( 4, minmax(250px, auto) );} }
section img {
	max-width: 250px;
	border: 12px solid white;
	border-radius: 2px;
	box-shadow: 0px 0px 3px 0px #999999;
	opacity: 100%;
}
section img:hover {
	box-shadow: 0px 0px 15px 0px black;
}
.title {
	font-size: 1.2em;
}
.description {
	font-size: 0.8em;
	color: #4a9500;
}